# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# venv
venv/
.venv/

# Git
.git/
.gitignore

# Tests & local tooling
tests/
scripts/
*.log

# Data / DB
chroma_db/
data/
*.pdf

# OS/IDE
.DS_Store
.idea/
.vscode/

# env files
.env
.env.*
